/* Makale Detay Sayfası - İçindekiler Menüsü */
.toc-link {
    /* Yazı boyutunu son kez küçültelim */
    font-size: 0.7rem;
}

/* Aktif olan linkin rengini daha belirgin yapalım */
.toc-link.active {
    font-weight: bold;
    color: var(--bs-primary);
}