{% extends 'base.html' %}
{% load plotly_dash static %}

{% block stylesheet %}
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
{% endblock %}

{% block content %}
    {% include 'includes/tool_warning.html' with data_loss=1 %}
    <div class="plotly-app-container">
        {% plotly_direct name='MutationPredictorApp' %}
    </div>

    {% if seo_html %}
    <section class="container my-5 seo-content">
        {{ seo_html|safe }}
    </section>
    {% endif %}

    {% if seo_faq %}
    <script type="application/ld+json">{{ seo_faq|safe }}</script>
    {% endif %}
{% endblock %}