{% load plotly_dash static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ meta_title|default:"AI Blog - Anasayfa" }}</title>

    <meta name="description"
          content="{{ meta_description|default:'Çeşitli konularda üretilmiş akademik makaleleri ve analizleri keşfedin.' }}">
    <meta name="keywords" content="{{ meta_keywords|default:'makale, blog, django, dash, akademik' }}">

    <meta name="google-site-verification" content="z9gTV3Jr4mlODVTgdkBVbC9vPV5U76BwFFPYGibp6Xs" />


    <link rel="apple-touch-icon" sizes="180x180" href="/staticfiles/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/staticfiles/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/staticfiles/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/staticfiles/images/favicon-16x16.png">
    <link rel="manifest" href="/staticfiles/images/site.webmanifest">

    {% if structured_data_json %}
        <script type="application/ld+json">
        {{ structured_data_json|safe }}
    </script>
    {% endif %}

    {% block stylesheet %}{% endblock %}

    {% plotly_header %}

</head>
<body>

<main>
    {% block content %}

    {% endblock %}
</main>

{% include 'includes/footer.html' %}

{% include 'includes/arrow.html' %}

{% plotly_footer %}

</body>
</html>